/*Colores*/
$principal: #c06c28;
$secundario: #6b0000;;
$text-color-w: white;
$text-color-b:black;
$hover-color: #440404;
$menu-color: #A15F20;
$resaltar-color: #8a5bb6;

/*Espaciados*/
$large-esp: 4rem;
$medium-esp: 2.5rem;
$small-esp: 1.5rem;
$xsmall-esp: 0.5rem;

/*Fuentes*/
$fuente-titulos:'Hind', sans-serif;
$fuente-cuerpo:'Hind', sans-serif;
$fuente-menu: 'Crimson Text', serif;
$fuente-cuerpo2: 'Alegreya Sans SC', sans-serif;
$fuente-cuerpo3: 'Karma', serif;
$fuente-cuerpo4: 'Lato', sans-serif;
$fuente-cuerpo5: 'Work Sans', sans-serif;
/*
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Hind', sans-serif;
font-family: 'Karma', serif;
font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
*/


/*Tamaño de fuente rem o em*/
$h1-font-size: 12em;
$xlarge: 8em;
$xxlarge: 6em;
$large: 4em;
$medium: 3em;
$small: 2em;
$xsmall: 1em;
$menu-font-size: 1.5em;


