footer{
    padding: 0;
    background: rgba( 89, 0, 0, 0.6 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

footer a{
    @include texto ($fuente-cuerpo, $small, 100, center, $text-color-b);
    padding: 0.5em 1em 0.2em 1em;
    text-decoration: none;
    color: $text-color-b;
    &:hover{
        color: rgb(68, 14, 66);
    }
}

.div_direccion{ 
    @include flex (column, center, center, 0.5rem);
    align-content: flex-end;
}

.div_info{
    @include flex (column, left, flex-start,0.5em 0 0 5em);
    @include texto ($fuente-cuerpo, $small, 100, center, $text-color-b);
}

.div_subinfo{
    @include flex (row, space-around, baseline, 0);
    
}


@media screen and (max-width: 450px) {
    footer{
        padding: 0.1;
        align-content: center;
        flex-direction: column;
    }
    footer a{
        padding: 0.2em;
        }
    footer p{ 
        padding: 0.2em
    }
}
