.img-fondo{
    width: 100%;
    height: auto;
    z-index: 0;
}
.main__index{
    @include flex(column, center, flex-start, 1em);
}

.main__section{
    @include flex(column, left, center, 1em);
    position: absolute;
    background: rgba( 255, 255, 255, 0.5 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    z-index: 3;
}

section div{
@include texto ($fuente-cuerpo4, $small, 600, left, $text-color-b);
padding: 4rem 2rem 4rem 2rem;
    
}

p{
    padding: 1rem;
}

