.containerLibros {
    display: flex;
    flex-direction: row;
    padding: 0rem 12rem 12rem 12rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    justify-items: stretch;
    flex-wrap: wrap;
}

.cardContainer {

    display: flex;
    flex-direction: row;
    padding: 1rem;

    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    justify-items: stretch;
    flex-wrap: wrap;
}

.img-libros {
    width: 2.5em;
    height: auto;
    border-radius: 0 !important;
    padding-bottom: 0.2em;
}

.card-title-libros {
    font-weight: bolder !important;
    font-size: 0.12em;
    padding: 0px !important
}

.card-text-libros {
    font-size: 0.10em;
    padding: 0px !important;
}

.card-libros {
    padding: 1rem;
    background-color: rgba(245, 245, 220, 0);
    border: none;
    flex-wrap: wrap;
}

.card-body-libros {
    background: none !important;
    padding: 0px !important
}

.menu_libros {
    padding: 2em 2em 2em 5em;
}

.filtro {
    @include texto ($fuente-cuerpo4, $small, bolder, left, $text-color-b);
}

.btn-primary {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.356);
    font-family: $fuente-menu;
    font-size: $small;
}

@media screen and (max-width: 900px) {
    .containerLibros {
        padding: 0;
    }

    .card-libros {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        justify-items: center;
    }

}